<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Document </title>
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<body>
<section class="slider">
	<div class="single-item-rtl">
		<div class="slider-for__img slider-for__img_1">
			<div class="wrapper">
				<h2 class="h wow zoomIn">Чудо будет! </h2>
				<p class="p">
					<span class="p__span">Курс вашей мечты</span>
				</p>
				<p class="ultra">
					<span class="ultra_span">Ультрасовременный</span>
				</p>
				<p class="mega">
					<span class="mega_span">мегакурс</span>
				</p>
				<p class="extra">
					<span class="extra_span">Экстра-класса</span>
				</p>
				<div class="li">
				<p class="kurs"><span class="kurs_span">В рамках ЕДИНОГО курса -</span></p>
				<p class="kurs2"><span class="kurs2_span">всё самое важное</span></p>
				<p class="kurs3"><span class="kurs3_span">Смотрите слайдер до конца!</span></p>
				</div>
			</div>
		</div>
		<div class="slider-for__img slider-for__img_2 animated zoomIn">
			<div class="wrapper">
			
			<p class="fantastic"><span class="fantastic_span">Фантастически результативный,</span></p>
			<p class="staggering"><span class="staggering_span"> Ошеломительно радостный,</span></p>
			<p class="bright"><span class="bright_span">незабываемо яркий</span></p>


			
		<div class="game__kurs">
			<p class="game wow zoomIn"><span class="game_span wow zoomIn  ">игровой курс</span></p>	
			<p class="gameKurs"><span class="gameKurs_span">для детей и родителей</span> </p>
		</div>

		</div>
	</div>


		<div class="slider-for__img slider-for__img_3"></div>
		<div class="slider-for__img slider-for__img_4"></div>
		<div class="slider-for__img slider-for__img_5"></div>
		</div>
</section>

<script src="./js/jquery.min.js" ></script>
<script src="./js/slick.min.js"></script>
<script src="./js/wow.min.js"></script>
<script src="./js/index.js"></script>
</body>
</html>